<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <title>ML-API</title>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">  
</head>

<body>
 <div class="login">
	<h1>House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<div class="first">
    	<input type="text" name="room_bed" placeholder="Room_bed" required="required" />
        <input type="text" name="room_bath" placeholder="Room_bath" required="required" />
		<input type="text" name="ceil" placeholder="Ceil" required="required" />
        <input type="text" name="coast" placeholder="Coast" required="required" />
        <input type="text" name="sight" placeholder="Sight" required="required" />
        <input type="text" name="quality" placeholder="Quality" required="required" />
        <input type="text" name="ceil_measure" placeholder="Ceil_measure" required="required" />
        <input type="text" name="basement" placeholder="Basement" required="required" />
        <input type="text" name="yr_built" placeholder="Yr_built" required="required" />
       </div>
       <div class="second">
        <input type="text" name="yr_renovated" placeholder="Yr_renovated" required="required" />
        <input type="text" name="zipcode" placeholder="Zipcode" required="required" />
        <input type="text" name="lat" placeholder="Lat" required="required" />
        <input type="text" name="long" placeholder="Long" required="required" />
        <input type="text" name="living_measure15" placeholder="Living_measure15" required="required" />
        <input type="text" name="lot_measure15" placeholder="Lot_measure15" required="required" />
        <input type="text" name="furnished" placeholder="Furnished" required="required" />
        <input type="text" name="total_area" placeholder="Total_area" required="required" />
        </div>
        <button type="submit" class="btn" align="center">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>